.container.single-gaming {
	display: flex;
	width: 100%;
	align-items: flex-start;
	justify-content: space-between;
	column-gap: 20px;
}
	.container.single-gaming .left-section {
		height: 100%;
		width: 30%;
	}
		.container.single-gaming .assets-window {
			height: 100%;
			width: 100%;
			position: relative;
		}
			.container.single-gaming .assets-window .camera {
				aspect-ratio: 1920/1080;
				width: 100%;
			}
			.container.single-gaming .assets-window .item-tracker {
				width: 100%;
			}
			.container.single-gaming .assets-window .charity-info {
				width: 100%;
				position: absolute;
				display: flex;
				flex-direction: row;
				align-items: center;
				justify-content: space-between;
				flex-wrap: nowrap;
				gap: 20px;
				bottom: 8px;
				left: 0;
				height: 104px;
			}
	.container.single-gaming .right-section {
		height: 100%;
		width: 70%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		position: relative;
	}
		.container.single-gaming .game-view {
			height: calc(100% - 140px);
			max-width: 100%;
		}
